* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    color: #2B283A;
    font-size: 10.2px;
}

/* TYPOGRAPHY*/
h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 14.5px;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    margin-right: 12px;
}

p {
    line-height: 1.5;
    max-width: 325px;
}

a {
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;
    color: #918E9B;
}

.date {
    font-weight: 700;
    margin-bottom: 9px;
}


/* IMAGES AND ICONS */
header > img {
    width: 24px;
}

.place--img {
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin-right: 19px;
}

i {
    color: #F55A5A;
    margin-right: 4px;
}


/* LAYOUT */
header {
    background-color: #F55A5A;
    color: #FFFFFF;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 27px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
    padding-block: 18px;
}

.place--location {
    display: flex;
    margin-bottom: 6px;
}